---
import data from "~/data/sites";
import { Image } from "@astrojs/image/components";
---

<section
	class="relative grid grid-cols-1 text-center justify-items-center md:text-left md:grid-cols-[20rem_1fr] grid-rows-[14rem_1fr] md:grid-rows-none gap-8 md:gap-4 items-center justify-center text-slate-700 max-w-screen-lg mx-auto"
>
	<div class="header__left">
		<a href={data.github}>
			<Image
				width={400}
				height={400}
				class="w-clamped h-clamped rounded-[10rem] border-2 border-rose-900 shadow-sharp"
				src="/assets/project/polkacli/polkacli_ascii2.png"
				alt="kusamaxi logo"
				loading="eager"
			/>
		</a>
	</div>
	<div class="relative">
		<span class="text-xl font-heading font-medium text-rose-700">Hi there!</span>
		<span
			class="relative block font-heading text-clamped-lg font-semibold leading-relaxed text-zinc-900 leading-[1em]"
		>
			kusamaxi
		</span>
		<span class="block text-clamped-md font-heading leading-relaxed text-slate-700 text-2xl">
			Time to stop worrying and secure your funds onchain!
		</span>
		<p class="relative block font-serif text-clamped-sm leading-normal mb-4 text-slate-700 text-xl">
			This educational website is a collection of notes and resources for the Kusama ecosystem. Focus on how to
			secure your funds onchain and how to become a validator on the most decentralized blockchain network in the
			world.
		</p>
		<p>
			Our mission is to provide you full set of tooling and guides for running your self hosted validator node on
			kusama network. It is possible to build a validator node for just a 500 euros investment and start securing
			the network with only 10 KSM staked on your node, thanks to inredible Web3 Foundation's 1KV program. Hardest
			part of the journey is to get started, so we are here to help you with that.
		</p>
	</div>
</section>
