---
import data from "~/data/sites";
import { Image } from "@astrojs/image/components";
---

<section
	class="relative grid grid-cols-1 text-center justify-items-center md:text-left md:grid-cols-[20rem_1fr] grid-rows-[14rem_1fr] md:grid-rows-none gap-8 md:gap-4 items-center justify-center text-slate-700 max-w-screen-lg mx-auto"
>
	<div class="header__left">
		<a href={data.github}>
			<Image
				width={400}
				height={400}
				class="w-clamped h-clamped rounded-[10rem] border-2 border-rose-900 shadow-sharp"
				src="/assets/project/polkacli/polkacli_ascii2.png"
				alt="kusamaxi ascii logo"
				loading="eager"
			/>
		</a>
	</div>
	<div class="relative">
		<span class="text-xl font-heading font-medium text-rose-700"> Greetings, fellow travelers on</span>
		<span
			class="relative block font-heading text-clamped-lg font-semibold leading-relaxed text-zinc-900 leading-[1em]"
		>
			the road to freedom.
		</span>
		<span class="block text-clamped-md font-heading leading-relaxed text-slate-700 text-2xl">
			Are you tired of living under the oppressive thumb of centralized authority?
		</span>
		<p class="relative block font-serif text-clamped-sm leading-normal mb-4 text-slate-700 text-xl">
			Our mission is simple: to empower individuals with the tools and knowledge necessary to take control of
			their financial sovereignty. By harnessing the power of the Kusama ecosystem, we can create a world where
			centralized authorities no longer hold the power to control our financial lives.
		</p>
		<p class="relative block font-serif text-clamped-sm leading-normal mb-4 text-slate-700 text-xl">
			Have you ever wanted to get involved with blockchain technology? By becoming a self-hosted validator on one
			of the most decentralized blockchain networks in the world, you can play a crucial role in securing the
			network while earning rewards for your contributions. Our educational resources and guides can show you how
			to get started, with 10 KSM staked on your node. Thanks to the Web3 Foundation's 1KV program, it's now
			easier than ever to become a validator and start participating in the blockchain ecosystem.
		</p>
		<p class="relative block font-serif text-clamped-sm leading-normal mb-4 text-slate-700 text-xl">
			But this is more than just a financial opportunity. It's a chance to be part of something bigger, to join a
			community of like-minded individuals who believe in the power of decentralized systems to bring about real
			change in the world. Together, we can build a world where power is not concentrated in the hands of the few,
			but spread among the many.
		</p>
	</div>
</section>
